#!/usr/bin/env bash
dotenv_if_exists .env
layout go

if has nvidia-smi; then
  load_prefix "$(expand_path ./cuda)"
elif has system_profiler && system_profiler SPDisplaysDataType | grep -E "(Chipset Model:|VRAM|GPU|Graphics)" >/dev/null; then
  load_prefix "$(expand_path ./metal)"
  DYLD_LIBRARY_PATH="$(expand_path ./metal/lib):$DYLD_LIBRARY_PATH"
  export DYLD_LIBRARY_PATH
else
  echo "No GPU support detected. CPU fallback will be used."
fi

source_env_if_exists .envrc.private
