node:
  keystorePath: ""
logger:
  verbosity: "info"
registry:
  gateway:
    smartContractAddress: ""
    pollInterval: "1m"
  scheduler:
    smartContractAddress: ""
    pollInterval: "1m"
  provider:
    smartContractAddress: ""
    pollInterval: "1m"
rpcProvider: ""
