node:
  keyfile: "nodekey"
logger:
  verbosity: "info"
registry:
  gateway:
    smartContractAddress: ""
    pollInterval: "1m"
  scheduler:
    smartContractAddress: ""
    pollInterval: "1m"
  provider:
    smartContractAddress: ""
    pollInterval: "1m"
rpcProvider: ""
modelBackendPath: "model_backend.yaml"
nonceCache:
  ttl: "5m"
  cleanupInterval: "10m"
