node:
  keyfile: "nodekey"
  listenPort: 8080
logger:
  verbosity: "info"
registry:
  routerSmartContractAddress: "0x63bb292Cf4C94c4FE34756D650b66cdb34E376bB"
  gateway:
    pollInterval: "1m"
  scheduler:
    pollInterval: "1m"
  provider:
    pollInterval: "1m"
rpcProvider: "https://devnet-rpc.function.network"
schedulerAddress: "0x9EC5501b7db525648C46098CCe1Df11EbBA9c16a"
modelBackendPath: "model_backend.yaml"
nonceCache:
  ttl: "5m"
  cleanupInterval: "10m"
