node:
  listenPort: 8080
  listenAddress: "127.0.0.1"
logger:
  verbosity: "info"
registry:
  routerSmartContractAddress: "0x541a755392d3012Ec2C47AE7331e698fcFF1Df50"
  gateway:
    pollInterval: "1m"
  scheduler:
    pollInterval: "1m"
  provider:
    pollInterval: "1m"
rpcProvider: "https://base-sepolia-public.nodies.app"
schedulerAddress: "0x0a7A1fF52515C24FAa17c13B916679926272ffc4"
nonceCache:
  ttl: "5m"
  cleanupInterval: "10m"
proxy:
  maxIdleConns: 100
  idleConnTimeout: "90s"
