node:
  listenPort: 8080
  listenAddress: "127.0.0.1"
logger:
  verbosity: "info"
registry:
  routerSmartContractAddress: "0x7C8e239F9A26D7fd081Db72A2A23F4E9CA35E16b"
  gateway:
    pollInterval: "1m"
  scheduler:
    pollInterval: "1m"
  provider:
    pollInterval: "1m"
rpcProvider: "https://base-sepolia-public.nodies.app"
schedulerAddress: "0x0a7A1fF52515C24FAa17c13B916679926272ffc4"
nonceCache:
  ttl: "5m"
  cleanupInterval: "10m"
proxy:
  maxIdleConns: 100
  idleConnTimeout: "90s"