node:
  listenPort: 8080
  listenAddress: "127.0.0.1"
logger:
  verbosity: "info"
registry:
  routerSmartContractAddress: "0x541a755392d3012Ec2C47AE7331e698fcFF1Df50"
  gateway:
    pollInterval: "1m"
  scheduler:
    pollInterval: "1m"
  provider:
    pollInterval: "1m"
rpcProvider: "https://devnet-rpc.function.network"
schedulerAddress: "0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266"
nonceCache:
  ttl: "5m"
  cleanupInterval: "10m"
proxy:
  maxIdleConns: 100
  idleConnTimeout: "90s"
