# This is a template for the backend.yaml file.
# It allows node operators to configure a specific model and point it to a different URL (backend).
backend_provider: "custom" # "fxn", "custom", "vllm" or "ollama"
url: "http://your-backend:8082" # required for "custom"
fxn_id: "2" # required for "fxn"
api_key: "your-api-key" # optional
bearer_token: "your-bearer-token" # optional
